In [ ]:
# DELETE FROM (delete one or more rows from existing table)
    # DELETE FROM is clause that lets you delete rows from table
    # celebs is name of table we want to delte rows
    # WHERE is clause let u select rows you want to delte
    # IS NULL is condition is sql , that return true when value is NULL

DELETE FROM celebs
WHERE twitter_handle IS NULL;

SELECT * FROM celebs;

In [ ]:
# Constraints in sql.
 # used to add additional information to column in table so database stop wrong or bad data from being saved after specifying datatypes 
  # eg:  id --> PRIMARY KEY (each celebs has a different id)
  #      name --> UNIQUE (no two celebs with same name allowed)
  #      age  --> NOT NULL (you must give value)
  #      country -->  DEFAULT 'USA' (If you don't specify it automatically fill usa)

  CREATE Table celebs (
    id INTEGER PRIMARY KEY,
    name TEXT UNIQUE,
    age  INTEGER NOT NULL,
    country TEXT DEFAULT 'USA'
  )

  SELECT * FROM celebs;