In [ ]:
# LESSON 2: 'QUERIES'

In [ ]:
# Quering a database with table named called movies
SELECT * FROM movies;

# Selecting only some specific column from the database table 
SELECT name, genre, year
FROM movies;

# AS in sql: AS also known as alias is used to give temporary name to column or table when querying ( it does not rename actual table but just change label when querying)
SELECT name AS 'movieList'
FROM movies;

SELECT imdb_rating AS 'IMDb'
FROM movies;

# DISTINCT in sql: used to return unique values from column or table, it filter outs duplicate values from specified column
SELECT DISTINCT genre
FROM movies;

SELECT DISTINCT year
FROM movies;

# WHERE clause: used to filter result set based on specific condition
SELECT * 
FROM movies
WHERE imdb_rating < 5;

SELECT *
FROM movies
WHERE year > 2014;

# LIKE: a special operator used  with the WHERE clause to serach for
# a specific pattern in a column
# eg: suppose we have a movie called Seven and Se7en  so if we want to select movies that start with 'Se' and endst with 'en' and have exaclty one character in middle

SELECT *
FROM movies
WHERE name LIKE 'Se_en';

In [ ]:
# LIKE with wildcard characters: '%' and '_'
# '%' used to match zero, one or more missing characters in pattern  
# eg:  A% matches movies with name that begin with letter 'A'
#      %a matches all movies ending with a   
#      %man% matches movies that contain 'man'

SELECT *
FROM movies
WHERE name LIKE '%man%';

SELECT *
FROM movies
WHERE name LIKE 'The %';

In [ ]:
# IS NULL 
# unknown values are indicated by null, It's not possible to test for NULL values with comparison operator,
# such as = and !=,
# Instead, we will use these operators:  IS NULL ,  IS NOT NULL


# filter out name of movies  from movies table with IMDb rating which is not null

SELECT name 
FROM movies
WHERE IMDb rating IS NOT NULL;

# filter out name of movies from movies table where IMDb rating is null
SELECT name
FROM movies
WHERE IMDb rating IS NULL;

In [ ]:
# BETWEEN operator is used in WHERE clause to filter result set within certain range
# It accepst two values that is either number, text or dates.

# Example (Text):
# WHERE name BETWEEN 'A' AND 'J';
# Includes names from 'A' up to exactly 'J' only. eg: below
SELECT *
FROM movies
WHERE name BETWEEN 'A' AND 'J';
# here above Names like 'Ja', 'Jack', 'Joker' are NOT included.


# To include names starting with 'J':
# Use WHERE name >= 'A' AND name < 'K';
# Or use WHERE name LIKE 'J%';


# Using the BETWEEN operator, write a query that selects all information 
# about movies whose name begins with the letters ‘D’, ‘E’, and ‘F’
SELECT *
FROM movies
WHERE name BETWEEN 'D' AND 'G';

# Using the BETWEEN operator, write a new query that selects all information about movies that were released from the year 1970 up to and including 1979.
SELECT *
FROM movies
WHERE year BETWEEN 1970 AND 1979;

In [ ]:
# AND Operator: with and operator both condition must be true for row to be included in result
# AND opearator : display a row if all condition is true.
SELECT *
FROM movies
WHERE year BETWEEN 1970 AND 1979
AND genre = 'romance'
AND imdb_rating > 8;

SELECT *
FROM movies
WHERE year < 1985
AND  genre = 'horror';

In [ ]:
# OR: similar to AND or is used to combine multiple condition with WHERE clause
# OR operator displays a row if any condition is true
SELECT *
FROM movies
WHERE year > 2014
OR genre = 'action';

SELECT *
FROM movies
WHERE genre = 'romance' 
 OR genre = 'comedy';

In [ ]:
# ORDER BY: used to sort the results, either alphabetically or numerically

# ORDER BY always goes after WHERE (if WHERE is present).

# suppose we want to sort everything by movie's title from A to Z
SELECT *
FROM movies
ORDER BY name;

# suppose we want to retrieve all the movies  with their ratings sorted highest to lowest by their year
# DESC is keyword used in ORDER BY to sort in descending order (high to low  Z-A) 
# ASC is used to sort in ascending order (low to high A-Z)

SELECT *
FROM movies
WHERE IMDb rating > 8
 ORDER BY year DESC;


 # suppose we want to retrieve name and year columns of all movies. orderd by their name alphabetically
 SELECT name, year
 FROM movies
 ORDER BY name;

 # retrieve name, year and imdb_ratings columns of all the movies, ordered highest to lowest by their ratings

 SELECT name, year, 
 imdb_rating
 FROM movies
 ORDER BY imdb_rating DESC;

In [ ]:
# LIMIT: lets us specify the maximum no. of rows the result set will have
# LIMIT always goes at the very end of the query
# not supported in all SQL database

# combining my knowledge of LIMIT and ORDER BY, to return top 3 highest rated movies
SELECT *
FROM movies
ORDER BY imdb_rating DESC
LIMIT 3;

In [ ]:
# CASE statements allows us to create different outputs
# it is SQL way of (if-else logic)

# suppose we want to condense rating in movies into three levels
 # if rating is above 8, then it is fantastic
 # if rating is above 6, then is Poorly received
 # else avoid at all cost

 SELECT name,
 CASE
 WHEN imdb_rating > 8 THEN 'Fantastic'
 WHEN imdb_rating > 6 THEN 'Poorly Received'
 ELSE 'Avoid at all costs'
 END 
 FROM movies;


 # another example
 SELECT name,
 CASE
 WHEN genre = 'romance' OR genre = 'comedy' THEN 'Chill'
 ELSE 'Intense'
 END AS 'MOOD'
 FROM movies;

In [ ]:
# LESSON 2: REVIEW

SELECT: Retrieves data from one or more tables.

AS: Renames a column or table temporarily using an alias.

DISTINCT: Returns only unique (non-duplicate) values.

WHERE: Filters rows based on specified conditions.

LIKE: Searches for a pattern within a column using wildcards.

BETWEEN: Filters data within a specific inclusive range.

AND / OR: Combines multiple conditions in a WHERE clause.

ORDER BY: Sorts result set in ascending or descending order.

LIMIT: Restricts the number of rows returned.

CASE: Performs conditional logic to return different outputs.