In [ ]:
# LESSON 4: MULTIPLE TABLES
# This lesson will help us work with data that is stored in multiple tables

In [ ]:
# SQL gives us an easy way to combine tables: it’s called a JOIN.
# When we perform a simple JOIN (often called an inner join) 
# our result only includes rows that match our ON condition.

## joins allow us to common two or more tables if they have a common column
## doesn't mean column name should be same but the data should be
## INNER JOIN (return rows that are same in both column from table)

SELECT *
FROM table_1
JOIN table_2
ON table_1.customer_id = table_2.customer_id;

# if we only wanted to select orders table order_id column and customer table's customer_name 
# we could use the following query
SELECT orders.order_id,
customer.customer_name
FROM orders
JOIN customers ON orders.customer_id = customer.customer_id;


# Join orders table and subscriptions table and select all columns.
# Make sure to join on the subscription_id column 
# where description is equal to ‘Fashion Magazine’..

SELECT *
FROM orders
JOIN subscriptions
ON orders.subscription_id = subscriptions.subscription_id
WHERE 
    description = 'Fashion Magazine';

# count the number of subscribers of both services
SELECT 
  COUNT(*) AS subscribers_of_both 
FROM 
  newspaper 
  JOIN online ON newspaper.id = online.id;

In [ ]:
# LEFT JOIN

-- OUTER JOINS
-- two types LEFT JOIN and RIGHT JOIN
-- left join takes everything from the left table even if there is no match in join and then only return matches from right table

-- right join  take everything from right but only match on left table



## LEFT JOIN:
-- Returns all rows from the LEFT table, 
-- and the matching rows from the RIGHT table.
-- If there is no match in the RIGHT table, 
-- the result will include NULLs for columns from the RIGHT table.

## RIGHT JOIN:
-- Returns all rows from the RIGHT table,
-- and the matching rows from the LEFT table.
-- If there is no match in the LEFT table,
-- the result will include NULLs for columns from the LEFT table.


# which users do not subscribe to the online edition
# (add where clause)
SELECT 
  * 
FROM 
  newspaper 
  LEFT JOIN online ON newspaper.id = online.id 
WHERE 
  online.id IS NULL;

In [ ]:
#PRIMARY KEY IN SQL */
# Primary keys have the following requirements 
# -- None of the values can be NULL
#-- Each value must be unique
#-- A table cannot have more than one primary key column

In [ ]:
# FOREIGN KEYS
# When the primary key of one table eg: order_id of orders table appreas in subscription table,
# it becomes foreign key in subscription table



# For example, an _id is a primary key when it appears in classes, 
# but it will be a foreign key with a name class_id when it appears in students.
SELECT *
FROM classes
JOIN students
ON classes.id = students.class_id;