In [ ]:
# LESSON 3: 'AGGREGATE FUNCTIONS IN SQL'
SQL Queries is not only used for accessing raw data but also used for performing specific calculations

In [ ]:
# Here are the quick preview of topics to cover

# -- COUNT() --> count number of rows
# -- SUM()   --> summ of values in column   
# -- MAX()/MIN() --> largest/smallest value in column
# -- AVG() -->      average of values in column
# -- ROUND() -->    round of values in the column

In [ ]:
# COUNT
# -- fastest way to calcuate how many rows are in table
# -- COUNT() function takes number of column as argument  and count number of non-empty values as column

# key points
# COUNT(*) = count all rows with empty values as well,  COUNT(column_name) = count only row where column in not empty


# select all the no. of rows with empty values as well
SELECT COUNT(*)
FROM fake_apps;

# count how many free apps are in the table.
SELECT 
    COUNT(*)
FROM
    fake_apps
WHERE 
    price = 0;

# count all no. of total employees
SELECT 
    COUNT(*)
FROM employees;

# Employee that have department assigned (not null / empty)
SELECT 
    COUNT(Department)
FROM employees;

# Count total number of orders in rows
SELECT 
    COUNT(*)
FROM 
    orders;

# Count how many orders have been delivered
SELECT COUNT(Product)
    FROM orders
WHERE status = 'Delivered';

# Count how many orders have been cancelled
SELECT COUNT(Product)
    FROM orders
WHERE 
    status = 'Cancelled';

# Count how many ordres are missing a Status (NULL)
SELECT COUNT(*)
FROM orders
WHERE  status IS NULL;

# Count how many orders were placed by John Smith
SELECT COUNT(Product)
FROM orders
WHERE customerName LIKE 'John%';

In [ ]:
# SUM()
# -- takes name of column as argument and returns sum of all values in that column (ignores null values );
# -- It adds up all the values in the specified column.
# -- NULL values are ignored automatically.
# -- You can use a WHERE condition to sum only certain rows.

SELECT SUM(downloads)
FROM fake_apps;

# calcuate total quantity of products sold
SELECT SUM(Quantity)
FROM
   sales;

# Calculate total revenue generated from all sales (hint: quantity x PricePerunit)
SELECT SUM(Quantity * PricePerUnit) AS Total_revenue
FROM sales;


# calcualte total quantity sold in electronic category
SELECT SUM(Quantity)
FROM sales
WHERE 
    Category = 'Electronics';

# calculate total quantity sold in furniture category
SELECT SUM(Quantity) AS total_furniture_quantity
    FROM 
        sales
    WHERE 
        Category = 'Furniture';

# calculate total revenue generated form Electronic category products
SELECT SUM(Quantity * PricePerUnit) 
    AS Total_Electornics_sales
    FROM sales
    WHERE 
        Category = 'Electronics';

In [ ]:
# MIN()/ MAX() Functions in SQL returns the  lowest and highest values in a column
# MIN() and MAX() takes columns as arguments and return largest value in that column

# How many downloads does the most popular app have?

SELECT MAX(downloads)
FROM fake_apps;

# What is the least number of times an app has been downloaded?
SELECT 
    MIN (downloads)
FROM 
    fake_apps;

# Write query that returns price of the most expensive app
SELECT  
    MAX(price)
FROM
    fake_apps;

# find maximum price of all products
SELECT 
    MIN(price)
FROM
    products;

# find the maximum price of all products
SELECT 
    MAX(price)
FROM
    products;

# find minimum price of products wehre the price is NOT NUll
SELECT 
    MIN(price)
FROM 
    products
WHERE price IS NOT NULL;

# Find the maximum price of products where the price is less than 600.
SELECT 
    MAX(price)
FROM products
WHERE price < 600;

In [ ]:
# Average function in SQL used to calculate average value of particular column. It takes column name as arguments

# return average number of downloads for an app
SELECT AVG(downloads)
FROM   
    fake_apps;

# return average price of all apps
SELECT AVG(price)
FROM 
    fake_apps;

# return average salary of all employees 
SELECT AVG(Salary)
FROM employees;

# return average salary of all employees in IT department
SELECT AVG(Salary)
FROM
    employees
WHERE Department = 'IT';

# return average salary of employees not assigned to any department
SELECT AVG(Salary)
FROM
    employees
WHERE Department IS  NULL;

# return average salary of employee whose salary is greater than 55000
SELECT AVG(Salary)
FROM
    employees
WHERE salary > 55000;

# return the average salary of employees in HR department
SELECT AVG(Salary)
FROM employees
WHERE Department = 'HR';

In [ ]:
# ROUND() functions takes two arguments column name and an integer
# -- It rounds values in column to the number of decimal places specified by integer

SELECT ROUND(price, 1)
FROM fake_apps;

SELECT name, ROUND(price, 0)
FROM 
    fake_apps;

SELECT 
    ROUND
        (AVG(price), 
        2)
FROM fake_apps;

In [ ]:
# GROUP BY: clause used in SQL that is used with aggregate function 
# used in collaboration with SELECT, to arrange identical data
# THE GROUP BY clause comes after WHERE clause but before ORDER BY or LIMIT

# eg: Suppose we want to know mean of imdb rating for all movies based on different year

SELECT year, 
AVG(imdb_rating)
FROM movies
GROUP BY year
ORDER BY year;

# count total number of apps that have been downloaded more than 20,000 times, at each price
SELECT price,
COUNT(*)
FROM 
    fake_apps
WHERE 
    downloads > 20000
GROUP BY
price;

# calculate total number of downloads for each category 
SELECT category,
SUM(downloads)
FROM 
    fake_apps
GROUP BY category;

# Count the number of sales made per product
SELECT product,
COUNT(*)
FROM
    sales
GROUP BY product;

In [ ]:
# SQL lets us use column refernces(s) in our GROUP BY that makes our lives easier

# we might want to know how many movies have IMDb rating that round to 1,2,3,4,5 
# Here, the  1 refers to first column in our SELECT statement, ROUND(imdb_rating)

SELECT ROUND(imdb_rating),
COUNT(name)
FROM moives;
GROUP BY 1;
ORDER BY 1;


SELECT category,
price, 
AVG (downloads)
FROM 
    fake_apps
    GROUP BY 1, 2;

In [ ]:
# HAVING is very similar to WHERE
# if fact, all types of WHERE clauses we learnt so far can be used with HAVING

# when we want to limit the result of query based on values of individual row 
# we use WHERE

# HAVING statements always come after GROUP BY, but before ORDER BY and LIMIT.

SELECT year,
genre, COUNT(name)
FROM movies
GROUP BY 1, 2
HAVING COUNT(name) > 10;


# Example
# It returns the average downloads (rounded) and the number of apps at each price point.
# HAVING clause restricts the query to price points that have more than 10 apps.
SELECT 
  price, 
  ROUND(
    AVG(downloads)
  ), 
  COUNT(*) 
FROM 
  fake_apps 
GROUP BY 
  price 
HAVING 
  COUNT(price) > 10;

In [ ]:
# LESSON 3 REVIEW:
# -- COUNT(): count the number of rows
# -- SUM(): the sum of the values in a column
# -- MAX()/MIN(): the largest/smallest value
# -- AVG(): the average of the values in a column
# -- ROUND(): round the values in the column

# Aggregate functions combine multiple rows together to form a single value
# of more meaningful information:
# -- GROUP BY is a clause used with aggregate functions to combine data 
#    from one or more columns.
# -- HAVING limit the results of a query based on an aggregate property.