In [ ]:
# LESSON 1: INTRODUCTION TO SQL

In [ ]:
# SELECT statement: used to select information from the table called celebs
# SELECT is clause that indicates that statement in query meaning you fetch data .
SELECT * FROM celebs;

In [ ]:
# CREATE statements: allows us to create new table in the database below in the example
CREATE TABLE celebs(
    id INTEGER,
    name TEXT,
    age INTEGER,
);

In [ ]:
# first we create table then insert value into as row
# INSERT INTO: used to insert values in rows

CREATE TABLE celebs(
    id INTEGER,
    name, TEXT,
    age, INTEGER,
);

INSERT INTO celebs ( id, name, age)
VALUES ( 1, 'Mo Salah', 33);

INSERT INTO celebs ( id, name, age)
VALUES ( 2, 'Alexander isak', 25);

INSERT INTO celebs ( id, name, age)
VALUES ( 3, ' Kylian mbappe', 26);

In [ ]:
# using SELECT to retrieve all the column called name  in the celebs 
SELECT name FROM celebs;

In [ ]:
# ALTER in sql: used to add new column to the table,
# here, alter table is a clause, which makes specific changes
#celebs is name of the table where we want to make specific change
# add column is clause let lets you add new column to table
# twitter_handles is the name of the row and TEXT refers to datatype of the new column.
ALTER TABLE celebs
ADD COLUMN twitter_handler TEXT;

In [ ]:
# UPDATE in sql: used to edit row in table. we use update when we want to change exisiting records

UPDATE celebs
SET twitter_handler = '@moSalah'
WHERE id = 1;

# UPDATE is a clause that edits row in table
# celebs in name of table
# SET is clause that indicates the column to edit
# twitter_handler is name of column where new value is going to be inserted
# WHERE clause indicate  which row to update with new column value

In [ ]:
# DELETE FROM (delete one or more rows from existing table)
    # DELETE FROM is clause that lets you delete rows from table
    # celebs is name of table we want to delte rows
    # WHERE is clause let u select rows you want to delte
    # IS NULL is condition is sql , that return true when value is NULL

DELETE FROM celebs
WHERE twitter_handle IS NULL;

SELECT * FROM celebs;

In [ ]:
# Constraints in sql.
 # used to add additional information to column in table so database stop wrong or bad data from being saved after specifying datatypes 
  # eg:  id --> PRIMARY KEY (each celebs has a different id)
  #      name --> UNIQUE (no two celebs with same name allowed)
  #      age  --> NOT NULL (you must give value)
  #      country -->  DEFAULT 'USA' (If you don't specify it automatically fill usa)

  CREATE Table celebs (
    id INTEGER PRIMARY KEY,
    name TEXT UNIQUE,
    age  INTEGER NOT NULL,
    country TEXT DEFAULT 'USA'
  )

  SELECT * FROM celebs;