In [ ]:
##  question 1: Create a table called students with columns of
# studentID, Name, Age and Department 

CREATE TABLE Students (
    StudentID INT,
    Name VARCHAR(50),
    Age INT,
    Department VARCHAR(30)
)

In [ ]:
## Question 2. Insert 4 studnets into the student table
INSERT INTO Students (StudentID, Name, Age, Department)
VALUES (101, 'Alice', 20, 'Science');

INSERT INTO Students (StudentID, Name, Age, Department)
VALUES (102, 'Bob', 21, 'Commerce');

INSERT INT0 Students (StudentID, Name, Age, Department)
VALUES (103, 'Charlie', 20, 'Science');

INSERT INTO Students (StudentID, Name, Age, Department)
VALUES (104, 'David', 22, 'Arts');

In [ ]:
## question 3. query to show all studnets in the table

SELECT * FROM Students;

In [ ]:
## question 4. write query to find all distince department from student table

SELECT DISTINCT Department 
FROM Students;

In [ ]:
## Question 6: Add new column called Email of type varchar(100)

ALTER TABLE Students
ADD COLUMN Email VARCHAR(100);

In [ ]:
## question 7: Insert with Partial Columns

INSERT INTO Students (StudentID, Name)
VALUES (105, 'Eve');