Introduction to SELECT Basics in SQLZoo

TABLE: world
This is just  a sample example table to take it as reference to solve below SELECT problems

| name        | continent | area    | population | gdp          |
| ----------- | --------- | ------- | ---------- | ------------ |
| germany     | Europe    | 652230  | 25500100   | 20343000000  |
| Albania     | Europe    | 28748   | 2831741    | 12960000000  |
| Algeria     | Africa    | 2381741 | 37100000   | 188681000000 |
| Andorra     | Europe    | 468     | 78115      | 3712000000   |
| Angola      | Africa    | 1246700 | 20609294   | 100990000000 |

In [ ]:
# Select population of germany
SELECT * 
FROM world
WHERE name = 'germany';

# Check a list using 'IN' to check if an item is in a list
# Show the name and the population for 'Sweden', 'Norway' and 'Denmark'

SELECT name, population
FROM world
WHERE name IN ('Sweden', 'Norway', 'Denmark');

# Show the country  and the area for countries  between 200,000 and 250,000
SELECT name, area
FROM world
WHERE area BETWEEN 200,000 AND 250,000;