0 SELECT basics
Some simple queries to get you started

Introduction to SELECT Basics in SQLZoo

TABLE: world
This is just  a sample example table to take it as reference to solve below SELECT problems

| name        | continent | area    | population | gdp          |
| ----------- | --------- | ------- | ---------- | ------------ |
| germany     | Europe    | 652230  | 25500100   | 20343000000  |
| Albania     | Europe    | 28748   | 2831741    | 12960000000  |
| Algeria     | Africa    | 2381741 | 37100000   | 188681000000 |
| Andorra     | Europe    | 468     | 78115      | 3712000000   |
| Angola      | Africa    | 1246700 | 20609294   | 100990000000 |

In [ ]:
# Select population of germany
SELECT * 
FROM world
WHERE name = 'germany';

# Check a list using 'IN' to check if an item is in a list
# Show the name and the population for 'Sweden', 'Norway' and 'Denmark'

SELECT name, population
FROM world
WHERE name IN ('Sweden', 'Norway', 'Denmark');

# Show the country  and the area for countries  between 200,000 and 250,000
SELECT name, area
FROM world
WHERE area BETWEEN 200,000 AND 250,000;

1 SELECT name

Some pattern matching queries using LIKE Operator

Here is the sample table : World

| name                         | continent     |
| ---------------------------- | ------------- |
| Afghanistan                  | Asia          |
| Albania                      | Europe        |
| Algeria                      | Africa        |
| Andorra                      | Europe        |
| Angola                       | Africa        |
| Antigua and Barbuda          | North America |
| Argentina                    | South America |

In [ ]:
# Find the country that starts with Y
SELECT name
FROM world
WHERE name LIKE 'Y%';

# Find the countries that end with y
SELECT name 
FROM world
WHERE name LIKE '%Y';

# Find the countries that contain the letter x
SELECT name
FROM world
WHERE name LIKE '%x%';

# Find the countries that ends with land
SELECT name
FROM world
WHERE name LIKE '%land';

# Find the countries that start with C and end with ia
SELECT name
FROM world
WHERE name LIKE 'c%ia';

# Find the country that has oo in the name
SELECT name
FROM world
WHERE name LIKE '%oo%';

# Find the countries that have three or more a in the name
SELECT name
FROM world
WHERE name LIKE '%a%a%a%';

# Find the countries that have "t" as the second character.
SELECT name
FROM world
WHERE name LIKE '_t%'
ORDER BY name;

# Find the countries that have two "o" characters separated by two others.
SELECT name
FROM world
WHERE name LIKE '%o__o%'
ORDER by name;

# Find the countries that have exactly four characters
SELECT name 
FROM world
WHERE name LIKE '____';


# A little Harder questions 
# Find the country where the name is the capital city
SELECT name, capital 
FROM world;
WHERE name = capital;


2 SELECT from world

In which we query the World country profile table.

SELECT  FROM World Exercises

Sample table: World

| name        | continent | area    | population | gdp             |
| ----------- | --------- | ------- | ---------- | --------------- |
| Afghanistan | Asia      | 652230  | 25,500,100 | 20,343,000,000  |
| Albania     | Europe    | 28748   | 2,831,741  | 12,960,000,000  |
| Algeria     | Africa    | 2381741 | 37,100,000 | 188,681,000,000 |
| Andorra     | Europe    | 468     | 78,115     | 3,712,000,000   |
| Angola      | Africa    | 1246700 | 20,609,294 | 100,990,000,000 |

In [ ]:
# show the name, continent and population of all countries.

SELECT name, continent, population 
FROM World;

# Show name for countries that have population at least 200 million (8 zeros)
SELECT name
FROM World
    WHERE population >= 200000000;

# Show the name and population in millions for the countries of the continent 'South America'.
# Divide the population by 1000000 to get population in millions.
SELECT name, population/1000000
FROM world
WHERE continent = 'South America';

# PER CAPITA GDP
# Give name and per capita GDP for those countries with population at least 200 million
# Hint: to calucalate per capita GDP , = gdp/ population
SELECT name,
     gdp/population AS per_capita_gdp
     FROM world
     WHERE population >= 200000000;

# SOUTH AMERICA IN MILLIONS
# Show name and population in millions for the countires of continent 'South America'
# Divide population by 1000000 to get population in millions
SELECT name, 
        population/1000000  AS pop_in_million
        WHERE continent = 'South America';


# France, Germany, Italy
# Show the name and population for France, Germany , Italy
SELECT name, population
FROM world
WHERE name IN ('France', 'Germany', 'Italy');


# UNITED
# Show countries which have a name that includes the word 'United'
SELECT name
FROM world
WHERE name LIKE '%United%';


# TWO WAYS TO BE BIG
#Show the countires that are big by area or big by population. Show name , population and area

SELECT name, population, area
FROM world
WHERE area > 3000000 OR population > 250000000;


# EXCLUSIVE OR (XOR) - One or the other (but not both)
#  Show the countries that are big by area (more than 3 million) or big by population (more than 250 million) but not both. Show name, population and area.
SELECT name, population, area
FROM world 
WHERE (area > 3000000 OR population > 250000000) AND NOT (area > 3000000 AND population > 250000000);


# ROUNDING  
# Show name and population in millions and gdp in billions for countries of the continent 'South America'.Use the ROUND function to show the values to two decimal places.
# show population in millions and GDP in billions both to 2 decimal places.
SELECT name, ROUND(population/1000000, 2) AS rounded_population , ROUND(gdp/1000000000,2) AS rounded_gdp
FROM world
WHERE continent = 'South America';


 # Trillion dollar economies
 # Show the name and per capita gdp for countires with a gdp of at least one trillion (i.e 12 zeros), Round value to nearest 1000
SELECT name, ROUND(gdp/population, -3)
FROM world
WHERE gdp >= 1000000000000;


# Name and Capital have the same lenght
# Show the name and capital where the name and the capital have the same number of characters

SELECT name, capital
FROM world
WHERE LENGTH(name) = LENGTH(capital);


# Matching name and capital
# Show the name and capital where the first letters of each match. Don't include countries where the name and capital are the same word
# NOTE: <> is not equal operator
SELECT name, capital 
FROM world
WHERE ((LEFT(name, 1) = LEFT(capital, 1)) AND name <> capital  );



# All the vowels
# Find the country that has all the vowels and no space in its name
SELECT name
FROM world
WHERE NAME LIKE '%a%' 
AND NAME LIKE '%e%' 
AND NAME LIKE '%i%'
 AND NAME LIKE '%o%'
  AND NAME LIKE '%u%'
   AND NAME NOT LIKE '% %';