Introduction to SELECT Basics in SQLZoo

TABLE: world
This is just  a sample example table to take it as reference to solve below SELECT problems

| name        | continent | area    | population | gdp          |
| ----------- | --------- | ------- | ---------- | ------------ |
| germany     | Europe    | 652230  | 25500100   | 20343000000  |
| Albania     | Europe    | 28748   | 2831741    | 12960000000  |
| Algeria     | Africa    | 2381741 | 37100000   | 188681000000 |
| Andorra     | Europe    | 468     | 78115      | 3712000000   |
| Angola      | Africa    | 1246700 | 20609294   | 100990000000 |

In [ ]:
# Select population of germany
SELECT * 
FROM world
WHERE name = 'germany';

# Check a list using 'IN' to check if an item is in a list
# Show the name and the population for 'Sweden', 'Norway' and 'Denmark'

SELECT name, population
FROM world
WHERE name IN ('Sweden', 'Norway', 'Denmark');

# Show the country  and the area for countries  between 200,000 and 250,000
SELECT name, area
FROM world
WHERE area BETWEEN 200,000 AND 250,000;

SELECT  FROM World Exercises

Sample table: World

| name        | continent | area    | population | gdp             |
| ----------- | --------- | ------- | ---------- | --------------- |
| Afghanistan | Asia      | 652230  | 25,500,100 | 20,343,000,000  |
| Albania     | Europe    | 28748   | 2,831,741  | 12,960,000,000  |
| Algeria     | Africa    | 2381741 | 37,100,000 | 188,681,000,000 |
| Andorra     | Europe    | 468     | 78,115     | 3,712,000,000   |
| Angola      | Africa    | 1246700 | 20,609,294 | 100,990,000,000 |

In [ ]:
# show the name, continent and population of all countries.

SELECT name, continent, population 
FROM World;

# Show name for countries that have population at least 200 million (8 zeros)
SELECT name
FROM World
    WHERE population >= 200000000;

# Show the name and population in millions for the countries of the continent 'South America'.
# Divide the population by 1000000 to get population in millions.
SELECT name, population/1000000
FROM world
WHERE continent = 'South America';

# PER CAPITA GDP
# Give name and per capita GDP for those countries with population at least 200 million
# Hint: to calucalate per capita GDP , = gdp/ population
SELECT name,
     gdp/population AS per_capita_gdp
     FROM world
     WHERE population >= 200000000;

# SOUTH AMERICA IN MILLIONS
# Show name and population in millions for the countires of continent 'South America'
# Divide population by 1000000 to get population in millions
SELECT name, 
        population/1000000  AS pop_in_million
        WHERE continent = 'South America';


# France, Germany, Italy
# Show the name and population for France, Germany , Italy
SELECT name, population
FROM world
WHERE name IN ('France', 'Germany', 'Italy');


# UNITED
# Show countries which have a name that includes the word 'United'
SELECT name
FROM world
WHERE name LIKE '%United%';


# TWO WAYS TO BE BIG
#Show the countires that are big by area or big by population. Show name , population and area

SELECT name, population, area
FROM world
WHERE area > 3000000 OR population > 250000000;


# EXCLUSIVE OR (XOR) - One or the other (but not both)