In [ ]:
# HackerRank SQL Challenges
-- BASIC SQL PROBLEMS.

In [ ]:
# Query all columns for all American cities in the CITY table with populations larger than 100000. The CountryCode for America is USA.
SELECT *
FROM CITY
WHERE POPULATION > 100000 AND COUNTRYCODE= 'USA';

In [ ]:
# Query the NAME field for all American cities in the CITY table with populations larger than 120000. The CountryCode for America is USA.

SELECT NAME
FROM CITY
WHERE POPULATION > 120000 AND COUNTRYCODE = 'USA';

In [ ]:
# Query all columns (attributes) for every row in the CITY table.

SELECT *
FROM CITY;

# Query all columns for a city in CITY with the ID 1661.

SELECT *
FROM CITY
WHERE ID = 1661;

In [ ]:
# Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

SELECT *
FROM CITY
WHERE COUNTRYCODE = 'JPN';

# Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.

SELECT NAME
FROM CITY
WHERE COUNTRYCODE = 'JPN';

In [ ]:
# Query a list of CITY and STATE from the STATION table.

SELECT CITY, STATION
FROM STATION;

In [ ]:
 # Query a list of CITY names from STATION for cities that have an even ID number.
 # Print the results in any order, but exclude duplicates from the answer.

 SELECT DISTINCT CITY 
 FROM STATION 
 WHERE ID % 2 = 0;

In [ ]:
# Find the difference between the total number of CITY entries in the table and 
# the number of distinct CITY entries in the table.

SELECT COUNT(CITY) - COUNT(DISTINCT CITY)
FROM STATION;

In [ ]:
#  Query list of CITY names starting with vowels (i.e a,e, i, o, or u) FROM STATION table

# NOTE: use LOWER(CITY) as LIKE is case-sensitive

SELECT DISTINCT CITY 
FROM STATION 
    WHERE LOWER(CITY) LIKE 'a%' 
    OR    LOWER(CITY) LIKE 'e%'
    OR    LOWER(CITY) LIKE 'i%'
    OR    LOWER(CITY) LIKE  'o%'
    OR    LOWER(CITY) LIKE 'u%';

# Query list of CITY names ending with vowels (i.e a, e, i, o, u) FROM STATION table, 
# result cannot contain duplicates

SELECT DISTINCT CITY
FROM STATION 
    WHERE LOWER(CITY) LIKE '%a'
    OR 
    WHERE LOWER(CITY) LIKE '%e'
    OR
    WHERE LOWER(CITY) LIKE '%i'
    OR
    WHERE LOWER(CITY) LIKE '%o'
    OR
    WHERE LOWER(CITY) LIKE '%u';

In [ ]:
# Query the list of CITY names from STATION which have vowels (i.e., a, e, i, o, and u) as both their first and last characters.
# Your result cannot contain duplicates.

SELECT DISTINCT CITY
FROM STATION 
    WHERE LOWER(LEFT(CITY, 1)) IN ('a', 'e', 'i', 'o', 'u')
    AND LOWER(RIGHT(CITY,1)) IN ('a', 'e', 'i', 'o', 'u');

In [ ]:
# Query the list of CITY names from STATION that do not start with vowels.
# Your result cannot contain duplicates.

SELECT DISTINCT CITY
FROM STATION 
    WHERE LOWER(LEFT(CITY, 1)) NOT IN ('a', 'e', 'i', 'o', 'u');

In [ ]:
# Query the list of CITY names from STATION that do not end with vowels.
# Your result cannot contain duplicates.

SELECT DISTINCT CITY
FROM STATION 
    WHERE LOWER(RIGHT(CITY, 1)) NOT IN ('a', 'e', 'i', 'o', 'u');