In [ ]:
SQL (structued query language), is a programming language that is used to manage data stored in the 
relational database. It enables us to create, update, read, delete often referred as CRUD opearation in the Database.

Some SQL commands

In [ ]:
# SELECT statement: used to select information from the table called celebs
# SELECT is clause that indicates that statement in query meaning you fetch data .
SELECT * FROM celebs;

In [ ]:
# CREATE statements: allows us to create new table in the database below in the example
CREATE TABLE celebs(
    id INTEGER,
    name TEXT,
    age INTEGER,
);

In [9]:
# first we create table then insert value into as row
# INSERT INTO: used to insert values in rows

CREATE TABLE celebs(
    id INTEGER,
    name, TEXT,
    age, INTEGER,
);

INSERT INTO celebs ( id, name, age)
VALUES ( 1, 'Mo Salah', 33);

INSERT INTO celebs ( id, name, age)
VALUES ( 2, 'Alexander isak', 25);

INSERT INTO celebs ( id, name, age)
VALUES ( 3, ' Kylian mbappe', 26);

SyntaxError: invalid syntax (3185949251.py, line 4)

In [ ]:
# using SELECT to retrieve all the column called name  in the celebs 
SELECT name FROM celebs;

In [ ]:
# ALTER in sql: used to add new column to the table,
# here, alter table is a clause, which makes specific changes
#celebs is name of the table where we want to make specific change
# add column is clause let lets you add new column to table
# twitter_handles is the name of the row and TEXT refers to datatype of the new column.
ALTER TABLE celebs
ADD COLUMN twitter_handler TEXT;