In [ ]:
/*
 Practice lesson 5: Aggregate functions with Grouping

 SAMPLE TABLE: employees

 | emp_id | name         | department_id | salary | hire_date   |
| ------- | ------------ | -------------- | ------ | ---------- |
| 1       | Alice Smith  | 101            | 60000  | 2019-01-15 |
| 2       | Bob Johnson  | 101            | 70000  | 2018-07-20 |
| 3       | Carol Miller | 102            | 50000  | 2020-02-10 |
| 4       | Dave Brown   | 103            | 45000  | 2021-03-12 |
| 5       | Eva Davis    | 102            | 52000  | 2019-11-03 |
| 6       | Frank White  | 104            | 80000  | 2017-06-01 |


SAMPLE TABLE: department

| department_id  | department_name  |
| -------------- | ---------------- |
| 101            | Engineering      |
| 102            | Sales            |
| 103            | Marketing        |
| 104            | HR               |


SAMPLE TABLE: projects

| project_id | emp_id   | project_name     | hours_worked  |
| ----------- | ------- | ---------------- | ------------- |
| 1           | 1       | Website Redesign | 30            |
| 2           | 1       | API Integration  | 45            |
| 3           | 2       | Website Redesign | 40            |
| 4           | 3       | Product Launch   | 50            |
| 5           | 4       | Marketing Blitz  | 20            |
| 6           | 5       | Sales Campaign   | 55            |
| 7           | 6       | HR Onboarding    | 60            |


PROBLEMS:
1. Show Total salary per department
2. Departments with more than 1 employee
3. Average salary in each department, ordered descending
4. List employee IDs who are working on more than one project.
5. Department with total salary > 100000
6. Employee total project hours
7. Average salary per department
*/

In [ ]:
# show total salary per department 

SELECT department_id, 
SUM(salary) AS total_salary
FROM  employees
GROUP BY department_id;

# Department with more than 1 employee

SELECT department_id,
COUNT(*) AS no_of_employee
FROM employees
GROUP BY department_id
HAVING  COUNT(*) > 1;

# Average salary in each department, ordered descending
SELECT department_id, 
AVG(salary) AS average_salary
FROM employees
GROUP BY department_id
ORDER BY average_salary DESC;

# List employee IDs who are working on more than one project
SELECT emp_id,
COUNT(project_name) AS no_of_working_project
FROM projects
GROUP BY emp_id
HAVING COUNT(project_name) > 1;

# Department with total salary > 100000
SELECT department_id,
SUM(salary) AS total_salary
FROM employees
GROUP BY department_id
HAVING SUM(salary) > 100000;

# employee total project hours
SELECT emp_id,
SUM(hours_worked) AS total_hours
FROM projects
GROUP BY emp_id;

#  Average salary per department
SELECT department_id,
AVG(salary) AS above_avg_salary
FROM employees
GROUP BY 1;