In [ ]:
# Practice question for INNER JOINS and OUTER JOINS


# Table: Employees

| emp\_id | emp\_name | dept\_id |
| ------- | --------- | -------- |
| 1       | Alice     | 10       |
| 2       | Bob       | 20       |
| 3       | Charlie   | 10       |
| 4       | David     | NULL     |
| 5       | Eve       | 30       |

# Table: Departments

| dept\_id | dept\_name  |
| -------- | ----------- |
| 10       | HR          |
| 20       | Engineering |
| 40       | Marketing   |

In [ ]:
/*
1) Write a query to list all employees with their department names. 
   Only include employees who belong to a department listed in the Departments table
2) Write a query to list all employees with their department names.
   Include all employees, even if they donâ€™t belong to any department (show department name as NULL if no match).
3) Write a query to list all departments along with their employees. 
   Include all departments, even if no employee belongs to them (show employee details as NULL if no match).
4) Write query to list employees who belong to the 'HR' department
5) Write query to find all employees who don't belong to any department (i.e department is null)
*/

In [ ]:
/* 1 solution */
SELECT Employees.emp_name,
Departments.dept_name
FROM Employees
INNER JOIN Departments 
    ON Employees.dept_id = Departments.dept_id;

In [ ]:

/* 2 solution */

SELECT Employees.emp_name,
Departments.dept_name
FROM Employees 
LEFT JOIN Departments
    ON Employees.dept_id = Departments.dept_id;

In [ ]:
/* 3 solution */

SELECT Employees.emp_name,
Departments.dept_name
FROM Employees
RIGHT JOIN Departments
    ON Employees.dept_id = Departments.dept_id;

In [ ]:
/* 4 solution */
    SELECT Employees.emp_name AS employees,
    Departments.dept_name  AS  department 
    FROM Employees
    INNER JOIN Departments
        ON Employees.dept_id = Departments.dept_id
    GROUP BY  Employees.emp_name, Departments.dept_name
    WHERE Departments.dept_name = 'HR';

In [ ]:
/* 5 solution */
SELECT Employees.emp_name AS employees,
Departments.dept_name AS department
FROM Employees
LEFT JOIN Departments
ON  Employees.dept_id = Departments.dept_id
WHERE Departments.dept_id  IS NULL;