SQL BOLT

Interactive Tutorial

https://sqlbolt.com/

Learning SQL with simple, and interactive exercises


Table of Contents

1. SELECT queries
2. Queries with constraints (Pt. 1))
3. Queries with constraints (Pt. 2))
4. Filtering and sorting Query results
5. Simple SELECT Queries Review
6. Multi-table queries with JOINs
7. OUTER JOINs
8. A short note on NULLs
9. Queries with expressions
10. Queries with aggregates (Pt. 1))
11. Queries with aggregates (Pt. 2))
12. Order of execution of a Query
13. Inserting rows
14. Updating rows
15. Deleting rows
16. Creating tables
17. Altering tables
18. Dropping tables
19. Subqueries
20. Unions, Intersections & Exceptions

In [ ]:

# SQL Lesson 1: SELECT QUERIES 
# EXERCISE 1 -- Tasks


# Task 1: Find the title of each movie
SELECT title FROM movies;

# Task 2: Find the director of each film
SELECT director
FROM movies;

# Task 3: Find the title and director of each film
SELECT director, title
FROM movies;

# Task 4: Find the title and year of each film
SELECT title, year
FROM movies;

# Task 5: Find all the information about each film
SELECT * FROM movies;

In [ ]:
# SQL Lesson 2: Queries with constraints (Pt. 1)
# EXERCISE 2 -- Tasks

|       Operator      |       Condition                                      |       SQL Example               |
| ------------------- | ---------------------------------------------------- | ------------------------------- |
| =, !=, <, <=, >, >= | Standard numerical operators                         | `col_name != 4`                 |
| BETWEEN … AND …     | Number is within range of two values (inclusive)     | `col_name BETWEEN 1.5 AND 10.5` |
| NOT BETWEEN … AND … | Number is not within range of two values (inclusive) | `col_name NOT BETWEEN 1 AND 10` |
| IN (…)              | Number exists in a list                              | `col_name IN (2, 4, 6)`         |
| NOT IN (…)          | Number does not exist in a list                      | `col_name NOT IN (1, 3, 5)`     |


# Task 1:  Find the movie with a row id of 6
SELECT *
FROM movies
    WHERE id = 6;

# Task 2: Find the movies release in the year between 2000 and 2010
SELECT *
FROM movies
    WHERE year BETWEEN 2000 AND 2010;

# Task 3: Find the movies not released in the years between 2000 and 2010
SELECT *
FROM movies
    WHERE year NOT BETWEEN 2000 AND 2010;

# Task 4: Find the first 5 pixar movies and their relase year
SELECT title, year
FROM movies
    LIMIT 5;

In [ ]:
# SQL Lesson 3: Queries with constraints (Pt. 2)
# EXERCISE 3 --- Tasks


|     Operator | Condition                                            |   SQL Example                     |
| ------------ | ---------------------------------------------------- | --------------------------------- |
| =            | Case sensitive exact string comparison               | `col_name = "abc"`                |
| != or < >    | Case sensitive exact string inequality comparison    | `col_name != "abcd"`              |
| LIKE         | Case insensitive exact string comparison             | `col_name LIKE "ABC"`             |
| NOT LIKE     | Case insensitive exact string inequality comparison  | `col_name NOT LIKE "ABCD"`        |
| %            | Matches zero or more characters (with LIKE/NOT LIKE) | `col_name LIKE "%AT%"`            |
| _            | Matches exactly one character (with LIKE/NOT LIKE)   | `col_name LIKE "AN_"`             |
| IN (…)       | String exists in a list                              | `col_name IN ("A", "B", "C")`     |
| NOT IN (…)   | String does not exist in a list                      | `col_name NOT IN ("D", "E", "F")` |


# Task 1: Find all the Toy Story movies
SELECT *
FROM movies
    WHERE title LIKE 'Toy Story%';

# Task 2: Find all the movies directed by John Lasseter
SELECT *
FROM movies
    WHERE Director = 'John Lasseter';

# Task 3: Find all the movies (and director) not directed by John Lasseter
SELECT Title, Director
FROM movies
    WHERE Director != 'John Lasseter';

# Task 4: Find all the WALL-* movies
SELECT *
FROM movies
    WHERE Title LIKE 'WALL-_';

In [ ]:
# SQL LESSON 4: Filtering and sorting Query results

# Task 1: List all directors of Pixar movies (alphabetically), without duplicates
SELECT DISTINCT Director
    FROM movies
    ORDER BY Director;

# Task 2: List the last four Pixar movies released (ordered from most recent to least)
SELECT *
    FROM movies
    ORDER BY year DESC
    LIMIT 4 OFFSET 4;

# Task 3: List the first five Pixar movies sorted alphabetically 
SELECT * 
    FROM movies
    ORDER BY Title ASC
    LIMIT 5;

# Task 4: List the next five Pixar movies sorted alphabetically
SELECT *
    FROM movies
    ORDER BY Title ASC
    LIMIT 5 OFFSET 5;